@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "fuente1";
  src: url(../assets/fonts/sf-compact-display-medium.otf);
}

@font-face {
  font-family: "fuente2";
  src: url(../assets/fonts/sf-compact-display-thin.otf);
}

.titulo, .grillas .header1 .descripcionProducto .tituloProducto h2, .grillas .header1 .descripcionProducto .precio, .grillas .header1 .descripcionProducto a, .grillas .header2 .tituloProducto h2, .boton1, .tarjeta h3, .tarjeta a, footer .acerca-redes .acercaDe h3, footer .acerca-redes .redes h3, footer .ubi-derechos .localizacion h3 {
  font-family: "Century Gothic";
  font-weight: 700;
}

.subtitulo, .grillas .header1 .descripcionProducto h4, .grillas .header1 .descripcionProducto h3, .tarjeta h4, footer .acerca-redes .acercaDe a, footer .ubi-derechos h3 {
  font-family: "Century Gothic";
  font-weight: 400;
}

.navMobile {
  display: none;
}

.grillas nav {
  display: flex;
  height: 60px;
  align-items: center;
  grid-area: "nav1";
}

.grillas nav ul {
  display: flex;
  grid-area: "nav1";
  width: 100%;
}

.grillas nav ul a {
  text-decoration: none;
}

.grillas nav ul a li {
  list-style: none;
  text-decoration: none;
  font-family: "fuente1";
  font-size: 14px;
  margin-left: 50px;
}

.grillas nav .logo {
  animation-duration: 2s;
}

.grillas nav .logo img {
  margin-left: 20px;
}

.grillas .buscadorCarrito {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grillas .buscadorCarrito .buscador {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #F8FAFB;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
}

.grillas .buscadorCarrito .buscador input {
  border: none;
  width: 100px;
  padding: 5px;
  background-color: #F8FAFB;
}

.grillas .buscadorCarrito .buscador input:focus {
  outline: none;
  background-color: #F8FAFB;
}

.grillas .buscadorCarrito .buscador .iconoBuscador {
  margin-right: 10px;
  font-size: 25px;
  color: #FD794F;
}

.grillas .buscadorCarrito .iconoCarrito {
  font-size: 25px;
  margin-right: 20px;
  color: #FFFFFF;
}

.grillas .buscadorMobile {
  display: none;
}

.grillas .header1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  grid-area: "nav1";
}

.grillas .header1 .descripcionProducto {
  margin-left: 30px;
  margin-top: 80px;
  animation-duration: 1.5s;
}

.grillas .header1 .descripcionProducto h4 {
  color: #FD794F;
  margin-bottom: 5px;
}

.grillas .header1 .descripcionProducto .tituloProducto h2 {
  line-height: 83.5%;
  font-size: 100px;
  color: #131313;
}

.grillas .header1 .descripcionProducto h3 {
  font-size: 22px;
  margin-top: 10px;
  color: #131313;
}

.grillas .header1 .descripcionProducto .precio {
  color: #131313;
  font-size: 15px;
  margin-top: 5px;
}

.grillas .header1 .descripcionProducto .botones {
  margin-top: 10px;
}

.grillas .header1 .descripcionProducto a {
  font-size: 12px;
  color: #131313;
}

.grillas .header1 .imgProducto {
  position: absolute;
  left: 500px;
  height: 430px;
  transform: rotate(-4.44deg);
  margin-top: 50px;
}

.grillas .header1 .imgProducto img {
  height: 400px;
  animation-duration: 1.5s;
}

.grillas .header1 .imgProducto:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  transition: 3s;
}

.grillas .header1 .marcas {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  animation-duration: 2s;
}

.grillas .header1 .marcas .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FAFB;
  width: 650px;
  border-radius: 30px;
  height: 100px;
}

.grillas .header1 .marcas .contenedor .marca {
  height: 45px;
  margin: 10px;
}

.grillas .header1 .marcas .contenedor .marca:hover {
  transform: scale(1.1);
  transition: 1s;
}

.grillas .header2 {
  background-color: #FD794F;
  grid-area: "nav2";
}

.grillas .header2 .tituloProducto {
  animation-duration: 4s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80%;
  justify-content: center;
  margin-right: 20px;
}

.grillas .header2 .tituloProducto h2 {
  line-height: 83.5%;
  font-size: 100px;
  color: #13131318;
  animation-duration: 5s;
}

.grillas .header2 .buscadorCarrito {
  margin-top: 15px;
}

.info {
  height: 140px;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info .info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .info1 h3 {
  font-family: "fuente1";
  color: #FD794F;
  font-size: 22px;
}

.info .info1 h4 {
  font-family: "fuente2";
  color: #FD794F;
  font-size: 18px;
}

.destacados .tituloDestacados {
  font-family: "fuente1";
  color: #131313;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}

.destacados .tarjetas {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.grillas {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 589px;
  grid-template-areas: "nav1 nav2";
}

.productos {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  grid-row-gap: 20px;
  justify-items: center;
}

.boton1 {
  padding: 10px;
  background-color: #FD794F;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.boton1 a {
  text-decoration: none;
  color: #131313;
}

.boton2 {
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #FD794F;
  color: #FFFF;
  border: none;
  border-radius: 10px;
}

.botonActivo {
  color: #FFFFFF;
  background-color: #FD794F;
  padding: 10px;
  border-radius: 20px;
}

.tarjeta {
  height: 420px;
  width: 250px;
  background-color: #F8FAFB;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
}

.tarjeta h3 {
  font-size: 36px;
  line-height: 83.5%;
}

.tarjeta button {
  width: 138px;
}

.tarjeta a {
  color: #131313;
  font-size: 10px;
}

.tarjeta img:hover {
  transform: scale(1.1);
  transition: 3s;
}

footer {
  background-color: #131313;
  padding: 50px;
  margin-top: 50px;
  width: 100%;
}

footer .acerca-redes {
  display: flex;
}

footer .acerca-redes .acercaDe {
  padding: 10px;
}

footer .acerca-redes .acercaDe .acercaDe-info {
  display: flex;
  flex-direction: column;
}

footer .acerca-redes .acercaDe h3 {
  color: #FFFFFF;
}

footer .acerca-redes .acercaDe a {
  color: #FFFFFF;
  text-decoration: none;
}

footer .acerca-redes .redes {
  padding: 10px;
}

footer .acerca-redes .redes h3 {
  color: #FFFFFF;
}

footer .acerca-redes .redes i {
  color: #FFFFFF;
  font-size: 25px;
}

footer .ubi-derechos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer .ubi-derechos .localizacion {
  display: flex;
}

footer .ubi-derechos .localizacion i {
  color: #FFFFFF;
  font-size: 25px;
}

footer .ubi-derechos .localizacion h3 {
  color: #FFFFFF;
}

footer .ubi-derechos h3 {
  color: #FFFFFF;
}

nav {
  display: flex;
  height: 60px;
  align-items: center;
  grid-area: "nav1";
  z-index: 100;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav ul {
  display: flex;
  grid-area: "nav1";
  width: 100%;
}

nav ul a {
  text-decoration: none;
}

nav ul a li {
  list-style: none;
  text-decoration: none;
  font-family: "fuente1";
  font-size: 14px;
  margin-left: 50px;
}

nav .logo {
  animation-duration: 2s;
}

nav .logo img {
  margin-left: 20px;
}

nav .buscadorCarrito {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav .buscadorCarrito .buscador {
  display: flex;
  align-items: center;
  margin-right: 20px;
  background-color: #F8FAFB;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
}

nav .buscadorCarrito .buscador input {
  border: none;
  background-color: #F8FAFB;
  width: 100px;
  padding: 5px;
}

nav .buscadorCarrito .buscador input:focus {
  outline: none;
  background-color: #F8FAFB;
}

nav .buscadorCarrito .buscador .iconoBuscador {
  margin-right: 10px;
  font-size: 25px;
  color: #FD794F;
}

nav .buscadorCarrito .iconoCarrito-catalogo {
  font-size: 25px;
  margin-right: 20px;
  color: #131313;
  cursor: pointer;
}

.carrito {
  background-color: #F8FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.3s;
  z-index: 2;
}

.carrito .tuCarrito {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}

.carrito .tuCarrito h3 {
  font-size: 20px;
  font-family: "fuente1";
}

.carrito .tuCarrito a {
  color: #131313;
}

.carrito .tuCarrito i {
  font-size: 25px;
  color: #131313;
  cursor: pointer;
}

.carrito .totalConfirmar {
  height: 100px;
  background-color: #FFFF;
  width: 90%;
  border-radius: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}

.carrito .totalConfirmar h4 {
  font-family: "fuente1";
}

.carrito .productosCarrito {
  height: 500px;
  overflow-y: scroll;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrito .elementoAñadido {
  display: flex;
  height: auto;
  padding: 20px;
  height: 150px;
  justify-content: space-around;
  width: 90%;
  background-color: #FFFF;
  margin-bottom: 20px;
  border-radius: 30px;
}

.carrito .elementoAñadido h3 {
  font-family: "fuente1";
}

.carrito .elementoAñadido h4 {
  font-family: "fuente2";
}

.carrito .elementoAñadido button {
  margin-top: 10px;
  width: 80px;
}

.carrito .elementoAñadido img {
  height: 100%;
}

.carrito .imgCarrito {
  width: 100%;
  height: 100px;
}

.carritoActivo {
  right: 0;
}

.logoCarrito {
  display: flex;
  flex-direction: row-reverse;
}

.logoCarrito i {
  font-size: 25px;
}

.logoCarrito h3 {
  top: 0;
  font-family: "fuente1";
  font-size: 15px;
}

.seccionProductos .tituloProductos {
  font-family: "fuente1";
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}

.tarjeta {
  height: 420px;
  width: 250px;
  background-color: #F8FAFB;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
}

.tarjeta h3 {
  font-size: 36px;
  line-height: 83.5%;
  font-family: "fuente1";
}

.tarjeta h4 {
  font-family: "fuente2";
}

.tarjeta a {
  color: #131313;
  font-size: 10px;
  font-family: "fuente1";
}

/* Mobile */
@media screen and (max-width: 480px) {
  .navDesktop li {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .navDesktop .buscadorMobile {
    display: unset;
  }
  .grillas {
    display: flex !important;
  }
  .grillas .imgProducto {
    left: 180px !important;
    margin-top: 0px !important;
    top: 319px;
  }
  .grillas .imgProducto img {
    height: 110px !important;
  }
  .grillas .header1 {
    justify-content: center;
  }
  .grillas .header1 .descripcionProducto {
    margin-left: 10px;
  }
  .grillas .header1 .descripcionProducto .tituloProducto h2 {
    font-size: 100px !important;
  }
  .grillas .header2 {
    display: none;
  }
  .grillas .header2 .buscadorCarrito {
    display: none;
  }
  .grillas .header1 .marcas .contenedor {
    width: 100% !important;
    height: 200px !important;
    flex-wrap: wrap;
  }
  .destacados .tarjetas {
    flex-direction: column;
    align-items: center;
  }
  .destacados .tarjetas .tarjeta {
    margin-bottom: 20px;
  }
  .info {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .productos {
    grid-template-columns: 1fr;
  }
  .ocultar {
    display: none;
  }
  nav {
    position: fixed;
    width: 100%;
    justify-content: space-around;
    background-color: #FFFFFF;
    top: 0;
  }
  .carrito {
    height: 100%;
    width: 350px;
  }
  .seccionProductos .tituloProductos {
    margin-top: 73px;
  }
}
/*# sourceMappingURL=styles.css.map */