@font-face {
  font-family: "fuente1";
  src: url(../assets/fonts/sf-compact-display-medium.otf);
}

@font-face {
  font-family: "fuente2";
  src: url(../assets/fonts/sf-compact-display-thin.otf);
}

.titulo, .grillas .header1 .descripcionProducto .tituloProducto h2, .grillas .header1 .descripcionProducto .precio, .grillas .header1 .descripcionProducto a, .grillas .header2 .tituloProducto h2, .boton1, .tarjeta h3, .tarjeta a, footer .acerca-redes .acercaDe h3, footer .acerca-redes .redes h3, footer .ubi-derechos .localizacion h3 {
  font-family: "Century Gothic";
  font-weight: 700;
}

.subtitulo, .grillas .header1 .descripcionProducto h4, .grillas .header1 .descripcionProducto h3, .tarjeta h4, footer .acerca-redes .acercaDe a, footer .ubi-derechos h3 {
  font-family: "Century Gothic";
  font-weight: 400;
}

.grillas nav {
  display: flex;
  height: 60px;
  align-items: center;
  grid-area: "nav1";
}

.grillas nav ul {
  display: flex;
  grid-area: "nav1";
  justify-content: space-around;
  width: 100%;
}

.grillas nav ul a {
  text-decoration: none;
}

.grillas nav ul a li {
  list-style: none;
  text-decoration: none;
  color: #131313;
  font-family: "fuente1";
  font-size: 11px;
}

.grillas nav .logo img {
  margin-left: 20px;
}

.grillas .buscadorCarrito {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #FD794F;
  grid-area: "nav2";
}

.grillas .buscadorCarrito i {
  font-size: 30px;
  margin-right: 20px;
}

.grillas .header1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  grid-area: "nav1";
}

.grillas .header1 .descripcionProducto {
  margin-left: 30px;
  margin-top: 80px;
}

.grillas .header1 .descripcionProducto h4 {
  color: #FD794F;
  margin-bottom: 5px;
}

.grillas .header1 .descripcionProducto .tituloProducto h2 {
  line-height: 83.5%;
  font-size: 100px;
  color: #131313;
}

.grillas .header1 .descripcionProducto h3 {
  font-size: 22px;
  margin-top: 10px;
  color: #131313;
}

.grillas .header1 .descripcionProducto .precio {
  color: #131313;
  font-size: 15px;
  margin-top: 5px;
}

.grillas .header1 .descripcionProducto .botones {
  margin-top: 10px;
}

.grillas .header1 .descripcionProducto a {
  font-size: 12px;
  color: #131313;
}

.grillas .header1 .imgProducto {
  position: absolute;
  left: 450px;
  height: 430px;
  transform: rotate(-4.44deg);
}

.grillas .header1 .imgProducto img {
  height: 400px;
}

.grillas .header1 .imgProducto:hover {
  transform: rotate(0deg);
  transform: scale(1.1);
  transition: 3s;
}

.grillas .header1 .marcas {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.grillas .header1 .marcas .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F8FAFB;
  width: 650px;
  border-radius: 30px;
  height: 100px;
}

.grillas .header1 .marcas .contenedor .marca {
  height: 45px;
  margin: 10px;
}

.grillas .header1 .marcas .contenedor .marca:hover {
  transform: scale(1.1);
  transition: 1s;
}

.grillas .header2 {
  background-color: #FD794F;
  grid-area: "nav2";
}

.grillas .header2 .tituloProducto {
  animation-duration: 4s;
}

.grillas .header2 .tituloProducto h2 {
  line-height: 83.5%;
  font-size: 100px;
  color: #13131318;
  margin-left: 100px;
  animation-duration: 5s;
}

.info {
  height: 140px;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info .info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .info1 h3 {
  font-family: "fuente1";
  color: #FD794F;
  font-size: 22px;
}

.info .info1 h4 {
  font-family: "fuente2";
  color: #FD794F;
  font-size: 18px;
}

.destacados .tituloDestacados {
  font-family: "fuente1";
  color: #131313;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
}

.destacados .tarjetas {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.grillas {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 589px;
  grid-template-areas: "nav1 nav2";
}

.boton1 {
  padding: 10px;
  background-color: #FD794F;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
}

.boton1 a {
  text-decoration: none;
  color: #131313;
}

.tarjeta {
  height: 420px;
  width: 250px;
  background-color: #F8FAFB;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
}

.tarjeta h3 {
  font-size: 36px;
  line-height: 83.5%;
}

.tarjeta button {
  width: 138px;
}

.tarjeta a {
  color: #131313;
  font-size: 10px;
}

footer {
  background-color: #131313;
  padding: 50px;
  margin-top: 50px;
}

footer .acerca-redes {
  display: flex;
}

footer .acerca-redes .acercaDe {
  padding: 10px;
}

footer .acerca-redes .acercaDe .acercaDe-info {
  display: flex;
  flex-direction: column;
}

footer .acerca-redes .acercaDe h3 {
  color: #FFFFFF;
}

footer .acerca-redes .acercaDe a {
  color: #FFFFFF;
  text-decoration: none;
}

footer .acerca-redes .redes {
  padding: 10px;
}

footer .acerca-redes .redes h3 {
  color: #FFFFFF;
}

footer .acerca-redes .redes i {
  color: #FFFFFF;
  font-size: 25px;
}

footer .ubi-derechos {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer .ubi-derechos .localizacion {
  display: flex;
}

footer .ubi-derechos .localizacion i {
  color: #FFFFFF;
  font-size: 25px;
}

footer .ubi-derechos .localizacion h3 {
  color: #FFFFFF;
}

footer .ubi-derechos h3 {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */