.boton1{
    padding: 10px;
    background-color: $color-secundario;
    border: none;
    color: $color-primario;
    border-radius: 10px;
    @extend .titulo;
    a{
        text-decoration: none;
        color: $color-letras;
    }
}
.botonActivo{
    color: $color-primario;
    background-color: $color-secundario;
    padding: 10px;
    border-radius: 20px;
}