$fuente-nav: 'Catamaran';
$fuente: 'Century Gothic';

$fuenteTitulos:(
    fuente: $fuente,
    grosor: 700,
    grosor2: 107px,
);
$fuenteSubtitulos:(
    fuente: $fuente,
    grosor: 400,
    grosor2: 27px,
);
